<div class="flex flex-col gap-4">
    {% for message in messages %}
    <div class="message {{ message.type }}-message">
        <div class="message-content">
            {% for msg in message.messages %}
            <p class="message-text {{ msg.author.lower() }}">
                {% if msg.author == 'thoughts' %}
                    {{ msg.content }}
                {% else %}
                    {{ msg.author }}: {{ msg.content }}
                {% endif %}
            </p>
            {% endfor %}
        </div>
        <div class="edit-controls">
            <button class="btn btn-ghost btn-sm">
                <i class="fas fa-trash"></i> Delete
            </button>
        </div>
    </div>
    {% endfor %}
</div>
